.featured {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  overflow: hidden;
  border-radius: 10px;
  height: 215px;
}

.featuredImg {
object-fit: cover;
width: 100%;
}

.featuredTitles {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 10px;
}

.featuredTitles>h2 {
  font-size: 14px;
  font-weight: 300;
}
